.container
  .sessions.box
    = render 'messages'
    .info
      %h1= t('sessions.title')
      %p
        = raw t('sessions.currently_logged_in_as', :username => current_user.username)
      = link_to t('sessions.label_logout_button'), logout_path, :class => 'button'
    %img{:src => "https://avatars1.githubusercontent.com/u/14800781?v=3&s=300", :class => 'logo'}
    %h3= t('two_factor_authenticators.title')
    - if @two_factor_authenticators.blank?
      = t('two_factor_authenticators.disabled')
      \- #{link_to t('two_factor_authenticators.enable'), new_two_factor_authenticator_path}
    - else
      = t('two_factor_authenticators.enabled')
      \- #{button_to t('two_factor_authenticators.disable'), two_factor_authenticator_path(@two_factor_authenticators.first.id), method: :delete}
    %h3= t('sessions.your_active_sessions')
    %table.tickets{:width => "100%"}
      %thead
        %tr
          %th= t('sessions.table.column_browser')
          %th= t('sessions.table.column_services')
          %th= t('sessions.table.column_activity')
          %th{:width => "180"}  
      %tbody
        - @ticket_granting_tickets.each do |ticket_granting_ticket|
          %tr{:class => 'highlighted'}
            %td{"data-label" => t('sessions.table.column_browser')}
              %span{:title => ticket_granting_ticket.user_agent}
                = ticket_granting_ticket.browser_info
            %td{"data-label" => t('sessions.table.column_services')}
              = ticket_granting_ticket.service_tickets.size
            %td{"data-label" => t('sessions.table.column_activity')}
              = t 'datetime.ago', datetime: distance_of_time_in_words_to_now(ticket_granting_ticket.updated_at)
            %td
              - if current_ticket_granting_ticket?(ticket_granting_ticket)
                %strong= t('sessions.current_session')
              - else
                = button_to t('sessions.end_session'), session_path(ticket_granting_ticket.id), method: :delete
  = render 'footer'